/* BUTTON */
.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem 0 2rem; /* top, right, bottom, left padding */
}

.button {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--text-white);
  margin-top: 1.15rem;
  padding: 6px 12px;
  font-size: 0.9rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--hovering-color);
}

/*Headline*/
.categories-heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

/* Responsive */
@media (max-width: 600px){
  #recipe-list {
      grid-template-columns: 1fr; 
  }
}

@media (min-width: 601px) and (max-width: 800px){
  #recipe-list {
      grid-template-columns: 1fr 1fr; 
  }
}