/* Headings */
#article-heading {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 2rem;
  color: var(--text-black);
  text-align: center;
  margin-bottom: 1rem;
}

#article-subheading {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 20px;
}