:root {
  --primary-font: "Josefin Sans", sans-serif;
  --text-font: "Jost", sans-serif;
  --logo-font: "Gluten", serif;
  --primary-color: #f4912e;
  --secondary-color: #0d9277;
  --hovering-color: #0b5e4f;
  --beige: #f2f1df;
  --text-black: #101010;
  --text-white: #ffffff;
}

/*HEADER*/

#logo {
  display: block;
  align-items: start;
  padding-left: 0.5rem;
  padding-top: 0rem;
  max-width: 38%;
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  color: var(--text-white);
}

.navigation-menu a {
  color: var(--text-white);
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
}

header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
}

nav {
  display: flex;
  align-items: center;
  position: relative; /* Make the nav element movable */
  top: 1.25rem; 
}

ul {
  padding-left: 0;
  margin-top: 0%;
}

nav ul, li {
  display: flex;
  gap: 3rem;
  list-style: none;
}

/* Adjust font size on smaller screens */
@media (max-width: 1000px) {
  #logo {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  #logo {
    font-size: 1.6rem;
  }
}



/* FOOTER */
/*Background-color for the footer*/
footer {
  background-color: var(--primary-color);
  padding-top: 1.7rem;
  height: 16rem;
}

/*Grid for the footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  color: var(--text-white);
  justify-items: center;
  column-gap: 10rem; 
}

@media (max-width: 820px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

.footer-header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
