:root {
  --primary-font: "Josefin Sans", sans-serif;
  --text-font: "Jost", sans-serif;
  --logo-font: "Gluten", serif;
  --primary-color: #f4912e;
  --secondary-color: #0d9277;
  --hovering-color: #0b5e4f;
  --beige: #f2f1df;
  --text-black: #101010;
  --text-white: #ffffff;
}

/*HEADER*/

#logo {
  font-family: var(--logo-font);
  font-size: 4rem;
  font-weight: 600;
  list-style: none;
  color: var(--text-white);
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  color: var(--text-white);
}

.navigation-menu a {
  color: var(--text-white);
  text-decoration: none;
  font-weight: 500;
}

header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

/* Adjust font size on smaller screens */
@media (max-width: 1000px) {
  #logo {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  #logo {
    font-size: 1.6rem;
  }
}

/*The logo has no underline for the link*/
a {
  text-decoration: none;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  color: var(--brown);
}

h3,
li,
p {
  font-family: "Afacad", sans-serif;
  list-style: none;
  color: var(--brown);
}

ul {
  padding-left: 0;
  color: var(--brown);
  margin-top: 0%;
}

/*Background-color for the footer*/
footer {
  position: relative;
  background-color: var(--primary-color);
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  height: 25rem;
}

/*Grid for the footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: left;
  margin-left: 2rem;
  margin-top: 4rem;
}

@media (max-width: 820px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

.footer-header {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.4rem;
}
