:root {
  --primary-font: "Josefin Sans", sans-serif;
  --text-font: "Jost", sans-serif;
  --logo-font: "Gluten", serif;
  --primary-color: #f4912e;
  --secondary-color: #0d9277;
  --hovering-color: #0b5e4f;
  --beige: #f2f1df;
  --text-white: #ffffff;
}

/*TEXT STYLE*/
.sub-headline {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.3rem;
}

.body-text {
  font-family: var(--text-font);
}

/*FIRST ROW*/
#first-row {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;

  margin-bottom: 3rem;
}

/*IMAGE*/
.picture {
  width: 100%;
}

/*HEADLINE*/
#information {
  margin-left: 3rem;
}

#name {
  font-family: var(--primary-font);
  font-size: 3rem;
}

/*BUTTON SHOPPING-LIST*/
#button-list {
  background-color: #0d9277;
  border: none;
  color: #ffffff;
  border-radius: 2.5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
}

#button-list:hover {
  background-color: #0b5e4f;
}

#button-save {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 0;
}

/*SAVE ICON*/
.save-icon {
  font-size: 2rem;
  color: #0d9277;
}

.save-icon:hover {
  color: #0b5e4f;
}

/*SERVINGS*/
#class-servings {
  margin-left: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

/*NUTRITION*/
#nutrition-facts-headline {
  margin-left: 0;
  margin-bottom: 0;
}

#button-nutrition {
  background-color: #0d9277;
  border: none;
  color: #ffffff;
  border-radius: 2.5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  font-family: var(--text-font);
  font-size: 1rem;
}

#button-nutrition:hover {
  background-color: #0b5e4f;
}

#nutrition-button {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 0;
  margin-bottom: 0;
}

#nutrition-facts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

.facts-style {
  margin-bottom: 0;
}

/*SECOND ROW*/
#second-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ingredients-steps {
  padding: 10px;
  margin: 5px 0;
  /*border: 1px solid #0b5e4f;*/
  color: black;
}

#background_ingredients {
  background-color: #f2f1df;
  padding: 2rem;
  border-radius: 2.5px;
}

#background_instructions {
  background-color: #f2f1df;
  padding: 2rem;
  border-radius: 2.5px;
}

.instruction-steps {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #f2f1df;
  color: black;
}

/*if item is selected*/
.selected {
  /*color: #0b5e4f;*/
  background-color: #f4912e;
  color: #f2f1df;
}

/*NOTES*/
#around-textarea {
  background-color: #0d9277;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#textarea {
  width: 90%;
}
#notes-headline {
  color: #f2f1df;
}
