/*TEXT STYLE*/
.sub-headline {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.3rem;
}

.body-text {
  font-family: var(--text-font);
}

/*FIRST ROW*/
#first-row {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  margin-bottom: 3rem;
}

/*IMAGE*/
.picture {
  width: 100%;
}

/*HEADLINE*/
#information {
  margin-left: 3rem;
}

#name {
  font-family: var(--primary-font);
  font-size: clamp(1.5rem, 5vw, 3rem);
}

/*SAVE ICON*/
#save-time-servings {
  margin-left: 0;
}

.save-icon {
  font-size: 2rem;
  color: #0d9277;
}

.save-icon:hover {
  color: #0b5e4f;
}

#button-save {
  margin-left: 0;
  margin-top: -0.1rem;
}

/*SERVINGS*/
#class-servings {
  margin-left: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

#save-time-servings {
  display: flex;
  align-items: center;
}

#servings {
  text-align: center;
  line-height: 1.2;
  white-space: pre-line;
}

#time {
  text-align: center;
  line-height: 1.2;
  white-space: pre-line;
}

/*NUTRITION*/
#nutrition-facts-headline {
  margin-left: 0;
  margin-bottom: 0;
  text-align: left;
}

#button-nutrition {
  background-color: var(--secondary-color);
  border: none;
  color: var(--text-white);
  border-radius: 2.5px;
  width: 2rem;
  height: 2rem;
  font-family: var(--text-font);
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

#button-nutrition:hover {
  background-color: var(--hovering-color);
}

#nutrition-button {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3rem;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

#nutrition-facts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0rem;
  margin-top: 1rem;
}

.facts-style {
  margin-bottom: 0;
  margin-top: 0.2rem;
}

/*SECOND ROW*/
#second-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Ingredients*/
.ingredients-steps {
  padding: 10px;
  margin: 5px 0;
  color: var(--text-black);
}

#background_ingredients {
  background-color: var(--beige);
  padding: 2rem;
  border-radius: 2.5px;
}

/*Instructions*/
#background_instructions {
  background-color: var(--beige);
  padding: 2rem;
  border-radius: 2.5px;
}

.instruction-steps {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--beige);
  color: var(--text-black);
}

/*if item is selected*/
.selected {
  background-color: var(--primary-color);
  color: var(--beige);
}

/*NOTES*/
#around-textarea {
  background-color: var(--secondary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
}

#notes-headline {
  color: var(--beige);
  margin-left: 2.5rem;
}

#textarea {
  width: 95%;
  height: 4rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/*Responsiveness*/
@media screen and (max-width: 824px) {
  #background_ingredients {
    margin-right: 0.8rem;
    transition: all 0.8s ease;
  }
  #background_instructions {
    margin-left: 0.8rem;
    transition: all 0.8s ease;
  }
  #first-row {
    grid-template-columns: 1fr 1fr;
    transition: all 0.8s ease;
  }

  #class-servings {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  #button-save {
    margin-top: 0;
  }

  #information {
    align-items: center;
    justify-content: center;
  }

  .save-icon {
    font-size: 1.6rem;
  }

  #nutrition-button {
    gap: 1.5rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 624px) {
  #first-row {
    grid-template-columns: 1fr;
  }

  #second-row {
    grid-template-columns: 1fr;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    justify-items: center;
  }

  /*Center beige background in the center*/
  #background_ingredients,
  #background_instructions {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  #name {
    font-size: 2.3rem;
  }

  .save-icon {
    font-size: 2rem;
  }
}
