/*Long background image*/
#background-image {
  margin: 0;
}

#background-image-img {
  width: 100%;
}

/*Header Shopping list*/
.categories-heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

/*flex container for garbage, input, button*/
#value-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
  margin-right: 3%;
}

/*delete icon*/
#garbage-icon {
  cursor: pointer;
  color: var(--secondary-color);
  margin-right: 2rem;
  font-size: 1.7rem;
}

#garbage-icon:hover {
  color: var(--hovering-color);
}

/*input field*/
#value-input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 2.5px;
  width: 200px;
  font-family: var(--text-font);
}

#value-input::placeholder {
  color: #999;
  font-style: italic;
  font-size: 14px;
  opacity: 1;
}

/*button*/
#add-ingredient {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 2.5px;
  font-family: var(--text-font);
  transition: background-color 0.2s ease;
}

#add-ingredient:hover {
  background-color: var(--hovering-color);
}

/*Shopping list items that get added*/
#shopping-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.6rem;
  row-gap: 0.2rem;
  padding: 1rem;
  font-family: var(--text-font);
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4rem;
}

.ingredient-card {
  display: flex;
  align-items: center;
  background-color: #f2f1df;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 2.5px;
}

/*Responsiveness*/

@media screen and (max-width: 1024px) {
  #shopping-list {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

@media screen and (max-width: 724px) {
  #shopping-list {
    grid-template-columns: 1fr 1fr;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

@media screen and (max-width: 768px) {
  .categories-heading {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}
